<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE configuration
  PUBLIC '-//mybatis.org//DTD Config 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-config.dtd'>
<configuration>
	<properties resource='jdbc.properties' />
	<typeAliases>
		
        <typeAlias type="com.ocr.models.OCR" alias="OCR"/>
        
        
	</typeAliases>
	<environments default='development'>
		<environment id='development'>
			<transactionManager type='JDBC' />
			<dataSource type='POOLED'>
				<property name='driver' value='${jdbc.driverClassName}' />
				<property name='url' value='${jdbc.url}' />
				<property name='username' value='${jdbc.username}' />
				<property name='password' value='${jdbc.password}' />
				<property name="poolPingQuery" value="SELECT 1" />
                <property name="poolPingEnabled" value="true" />
                <property name="poolMaximumActiveConnections" value="20" /> <!-- Default is 10, making it 20 to handle multiple concurrent reqs -->
                
			</dataSource>
		</environment>
	</environments>
	<mappers>		
		<mapper resource='OCRMapper.xml'/>
		
	</mappers>
</configuration>